[Unit]
Description=Timewarrior Synchronisation Server

[Service]
Type=simple
Environment=PORT=9350
ExecStart=/usr/bin/timew-sync-server start --port "$PORT" --keys-location="%S/timew-sync/keys" --sqlite-db="%S/timew-sync/db.sqlite"
Restart=always
RestartSec=5

PrivateTmp=true
ProtectHome=true
StateDirectory=timew-sync

User=timewsync
Group=timewsync
DynamicUser=true

CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target
